.turma-secundario h3 {
  margin: 5rem auto;
  text-align: center;
}

.lista-Turmas {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  align-items: center;

  overflow-y: scroll;
}

.lista-Turmas li {
  width: 95%;
  padding: 5rem 1.5rem;
  border: 2px solid var(--cor-primaria);
  border-radius: 6px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "turma professor professor"
    "alunos alunos icones";
  gap: 3rem;
}

.lista-turma-titulo {
  grid-area: turma;
}

.lista-turma-professor {
  grid-area: professor;
}

.lista-turma-icones {
  grid-area: icones;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 1rem;
  gap: 2.8rem;
  place-items: center;
}

.lista-turma-icones img {
  width: 25px;
  cursor: pointer;
}

.lista-turma-alunos {
  grid-area: alunos;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 0.5rem;
  overflow-y: scroll;
}

.lista-turma-alunos li {
  border: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  list-style-type: none;
}

.lista-turma-alunos h4 {
  color: var(--cor-primaria);
}

@media screen and (min-width: 830px) {
  .lista-Turmas li {
    width: 60%;
    gap: 0.5rem;
  }

  .lista-turma-titulo {
    font-size: 2rem;
  }

  .lista-turma-professor {
    font-size: 1.5rem;
  }

  .lista-turma-alunos {
    font-size: 1.3rem;
  }

  .lista-turma-icones {
    grid-area: icones;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 1rem;
    gap: 2.8rem;
    place-items: center;
  }
}

@media screen and (min-width: 1024px) {
  .lista-Turmas li {
    gap: 0rem;
  }
  .lista-turma-titulo {
    font-size: 1.1rem;
  }

  .lista-turma-professor {
    font-size: 1.1rem;
  }

  .lista-turma-alunos {
    font-size: 0.8rem;
  }
}
